/* src/app/globals.css */

:root {
  --font-geist-sans: 'GeistSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-geist-mono: 'GeistMono', monospace;
}

body {
  font-family: var(--font-geist-sans);
}

.leaflet-container {
  z-index: 1;
}

/* Leaflet harita stillerini düzeltmek için */
.leaflet-pane {
  z-index: 1;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  font-family: var(--font-geist-sans);
}